.samples{
    flex: 0 1 400px;
    margin: 0px 5px;
}

.samples_title{
    margin-bottom: 20px;
}

.task_list_legend{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.task_list_legend nav{
    flex: 0 1 34%;
    display: flex;
    justify-content: space-between;
}